* {
    margin: 0; 
}



.page{
    font-family:Helvetica, Arial, sans-serif;
    width: 100%; 
    height: 100vh; 
    position:absolute;
}

.menu-bar{
    height: 20vh;
    width:100%;
    background-color:white;
    display:flex;
    justify-content:center;
    flex-wrap:wrap; 
    position:sticky;
    top: 0; /* Stay on top */
    transition: all 0.3s;
    z-index:3;
    overflow:hidden;
}

.logo img{
    height: 50%;
}

.top-bar{
    width:100%;
    background-color:black;
    max-height: 7vh;
    color:white;
}

.navbar{
    width:100%;
    display:flex;
    flex-wrap:nowrap;
    justify-content:center;
}

.navbar .logo{
    padding-left:5%;
    padding-right:5%;
    margin:auto;
    transform: scale(0.5);
}

.menu-links-section{
width: 40%;
display:flex;
justify-content:space-evenly;
align-items: center;
}

.menu-links-section button{
   text-decoration:none;
   background-color:white;
   border-radius: 0px;
   border:none;
   color:black;
   transition: all 0.5s;
   width: 100%;
   text-align:center;
   padding:4%;
}


 .menu-links-section button:hover{
    background-color:black;
    color:white;
 }

.bottom-bar{
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:2%;
}

.bottom-bar .trackingPixel{
    padding-left:25%;
}


.search-bar-section{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}


.text-search-input{
    margin-right:5%;
    height:100%;
}


.banner{
    height:80vh;
    background-color:lightgray;
    margin:2%;

}
.banner h1{ 
    padding: 1%;
    font-size: 800%; 
    text-align: center;
}

#banner-top-bar{
    height:10%;
    background-color:black;
    color:white;
    font-weight:bold;
    display:flex;
    white-space: nowrap;
    overflow: hidden;
    text-align:center;
}

#banner-top-bar p{
    display: block;
    width: 100%;
    /* transform: translateX(100%); */
    margin:auto;
    animation: move 10s linear infinite;
}

.innerBanner{
    position:relative;
}
.personalInfo{
position:absolute;
}

.buttons-banner{
    display:flex;
    justify-content:space-between;
    height:40vh;
    width:100%;
    background-color:grey;
    flex-wrap:nowrap;
}

.button{
    width:30%;
    margin:5%;
    background-color: black;
    color:white;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button p{
    font-weight:bold;
   /* text-align:center; */
}

.popupWindow h2{ 
font-size: 80%; 
}

.popupWindowBanner{
    background-color:black;
    height: 5vh;
    position: absolute; 
    top:0px;
    width: 100%; 
}

.popupWindow-button{
    border: 2px solid white;
    border-radius: 5px;
}


.popupContainer{
    font-family:monospace;
    width:70%; 
    height:70vh; 
    z-index: 5; 
    background-color:transparent;
    position:relative;
    left: 15%; 
    top: 15vh;
}

.popupWindow{
    position:absolute;
    background-color:white; 
    border: 1px black solid; 
    border-radius: 2%; 
    z-index: 5; 
    width: 300px; 
    height: 30vh;
    margin: 4%; 
    overflow:hidden;
}

.popupBanner{ 
    height: 5vh; 
    background-color:black; 
    display: flex;
}

.popupBanner button{
    border: 2px white solid; 
    border-radius: 2%; 
    border-style:inset;
    font-size:70%;
    padding-bottom:3%;
    margin: 2%; 
    background-color:black; 
    color:white;
    transition: all 0.5s ease-in-out;

}

.popupBanner button:hover{ 
    background-color:white; 
    color:black;
}

.popupMessage{
    height:85%; 
    padding: 2%;
}

.bigPopupMessage{
    font-size: 400%; 
    font-family:sans-serif;
}